---
import "../styles/global.css";
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin tài chính</title>
  </head>
  <body class="bg-gray-100 text-gray-800 font-sans">
    <main class="max-w-3xl mx-auto p-6">
      <slot />
    </main>
  </body>
</html>
